body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-card {
    background: white;
    padding: 30px;
    width: 300px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
